---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import atencion from "../images/help.jpg"
---

<Layout title="Atencion al Cliente">
    <main id="atencion" class="flex items-center justify-around flex-col-reverse sm:flex-wrap">
        <div class="form w-1/2 sm:flex-grow-1 p-10">
            <div class="form-element my-2">
                <label class="text-sm " for="full-name">Nombre completo</label>
                <input type="text" id="full-name" placeholder="Elon Musk">
            </div>
            <div class="form-element my-2">
                <label class="text-sm " for="direccion">Direccion</label>
                <input type="text" id="direccion" placeholder="Av. Alonso de Ojeda">
            </div>
            <div class="form-element my-2">
                <label class="text-sm " for="seleccion">Que necesita?</label>
                <select id="selection">
                    <option value="pedir-instalacion">Pedir instalacion</option>
                    <option value="reportar-falla">Reporte de falla</option>
                    <option value="consulta">Consulta integral</option>
                    <option value="queja">Queja</option>
                    <option value="otros">Otros</option>
                </select>
            </div>
            <div class="form-element my-2">
                <label class="text-sm " for="coment">Escriba su comentario</label>
                <textarea id="coment" cols="40" rows="3"></textarea>
            </div>
            <div class="form-element my-2">
                <button>Enviar</button>
            </div>
        </div>
        <Card img={atencion} title="Hello" body="Hello world" />
    </main>
</Layout>

<style>
    #atencion {
        height: 100vh;
        width: 100%;
        background-image: url('/src/images/bg-all.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    input[type="email"],
    input[type="text"],
    textarea,
    select {
        margin-top: 0.25rem;
        display: block;
        width: 100%;
        padding: 0.3rem;
        outline: none;
        border: 1px solid #aaa;
        border-radius: 5px;
    }
    .form-element button {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        font-size: 0.875rem;
        line-height: 1.25rem;
        background: #0002f8;
        color: #f5f5f5;
        border-radius: 5px;
        cursor: pointer;
    }
    .form-element button:hover {
        background: #2db2fd;
    }
</style>