---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Page">
	<main>
		<div class="text-white flex justify-center items-center h-1/2">
			<h1 class="text-6xl">BIENVENIDO AL INTERNET <span>SIN LIMITES</span></h1>
		</div>
		<footer class="text-center">
			<button class="bg-blue-400 rounded-3xl p-2 transition-all hover:p-3">Click Here</button>
		</footer>
	</main>
</Layout>

<style>
	main {
		height: 100vh;
		background-image: url("../images/main-page.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
