---
import Layout from "../layouts/Layout.astro";
import planes from "../images/planes.png"
import socialPhoto from "/pexels-oladimeji-ajegbile-3314294.jpg"
---

<Layout title="Planes">
    <main id="planes" class="flex items-center justify-evenly flex-col-reverse sm:flex-wrap">
        <section class="w-1/2 sm:flex-grow-1">
            <img src={planes}>
        </section>
        <section class="w-1/3 sm:flex-grow-1">
            <img src={socialPhoto} class="rounded-md shadow-xl">
        </section>
    </main>
</Layout>

<style>
    main {
        height: 100vh;
        width: 100vw;
        background-image: url("../images/bg-all.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>