---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Planes">
    <main id="planes">

    </main>
</Layout>

<style>
    main {
        height: 100vh;
        width: 100vw;
        background-image: url("../images/bg-all.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>