---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Portal de Pago">
    <main id="portal-pago"></main>
</Layout>

<style>
    #portal-pago {
        background-image: url('/src/images/bg-all.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
</style>