---
const { path, spec } = Astro.props
---

<a href={path} class="h-min text-[#fffffe] bg-[#3da9fc] rounded-2xl py-4 px-5 transition-all hover:-translate-y-1 active:border-solid active:border-2 active:border-[#094067] font-bold">{spec}</a>