---
---

<!-- this is when desktop *Done* -->
<nav
  class="hidden w-full sm:block sm:w-auto"
>
  <ul class="flex sm:flex-row flex-col sm:p-0 p-4 ">
    <li>
      <a
        id="planes"
        href="/planes"
        class="mx-6 font-bold text-[#00C4FF] hover:underline block py-2 px-3">Planes</a
      >
    </li>
    <li>
      <a
        id="atencion-cliente"
        href="/atencion-cliente"
        class="mx-6 font-bold text-[#00C4FF] hover:underline block py-2 px-3"
        >Atencion al Cliente</a
      >
    </li>
    <!-- <li><a id="portal-pago" href="/login" class="mx-6 font-extrabold hover:underline">Portal de Pago</a></li> -->
  </ul>
</nav>

<script>
  if (
    location.pathname === "/planes" ||
    location.pathname === "/atencion-cliente" ||
    location.pathname === "/portal-pago" ||
    location.pathname === "/conocenos"
  ) {
    document.getElementById("portal-pago").classList.add("text-[#094067]");
    document.getElementById("home").classList.add("text-[#094067]");
  }
</script>
