---
---

<div>
    <!-- this is when mobile -->
    <nav class="sm:hidden block">
        <span></span>
        <ul>
            <a id="planes" href="/planes" class="mx-6 font-bold text-[#2db2fd] hover:underline">Planes</a>
            <a id="atencion-cliente" href="/atencion-cliente" class="mx-6 font-bold text-[#2db2fd] hover:underline">Atencion al Cliente</a>
            <a id="portal-pago" href="/login" class="mx-6 font-extrabold hover:underline">Portal de Pago</a>
        </ul>
    </nav>
    <!-- this is when desktop *Done* -->
    <nav class="sm:block hidden">
        <ul class="px-3 flex text-lg">
            <a id="planes" href="/planes" class="mx-6 font-bold text-[#2db2fd] hover:underline">Planes</a>
            <a id="atencion-cliente" href="/atencion-cliente" class="mx-6 font-bold text-[#2db2fd] hover:underline">Atencion al Cliente</a>
            <a id="portal-pago" href="/login" class="mx-6 font-extrabold hover:underline">Portal de Pago</a>
        </ul>
    </nav>
</div>