---
---

<header class="absolute z-10 text-white flex w-full h-24 justify-between items-center">
    <a href="#" class="px-3 mx-6 font-extrabold text-3xl">JM</a>
    <nav>
        <ul class="px-3 flex text-lg">
            <a href="#" class="mx-6 font-bold text-[#2db2fd] hover:underline">Planes</a>
            <a href="#" class="mx-6 font-bold text-[#2db2fd] hover:underline">Atencion al Cliente</a>
            <a href="#" class="mx-6 font-extrabold hover:underline">Portal de Pago</a>
        </ul>
    </nav>
</header>
