---
---

<header id="Navbar" class="absolute text-white flex w-full h-24 justify-between items-center">
    <a href="#" class="px-3 mx-6 font-extrabold text-3xl">JM</a>
    <nav>
        <ul class="px-3 flex text-lg">
            <a href="#" class="mx-6 font-bold text-[#2db2fd]">Planes</a>
            <a href="#" class="mx-6 font-bold text-[#2db2fd]">Atencion al Cliente</a>
            <a href="#" class="mx-6 font-extrabold">Portal de Pago</a>
        </ul>
    </nav>
</header>
