---
import Dropdown from "./Dropdown.astro"
---

<header class="absolute z-10 text-white flex w-full h-24 justify-between items-center">
    <a id="home" href="/" class="px-3 mx-6 font-extrabold text-3xl">JM</a>
    <Dropdown />
</header>
