.circular-progress {
    position: relative;
    width: 15rem;
    height: 15rem;
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    align-content: center;
}
.circular-progress:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 0px #00c4ffd0;
}