.circular-progress {
    position: relative;
    width: 15rem;
    height: 15rem;
    background: #094067;
    border-radius: 50%;
    display: grid;
    place-items: center;
    align-content: center;
}
.circular-progress:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #fffffe;
    border-radius: 50%;
}